<ion-view class="tabs-container" >

    <ion-nav-view ></ion-nav-view>

    <!-- TABS -->
    <div class="tabs tabs-light tabs-icon-top" style="height:48px;">
        <a class="tab-item tab-item-positive has-badge" ui-sref-active="active" ui-sref="tab.managePatients" nav-direction="none" >
            <span class="badge badge-assertive" ng-if="badge.home">{{badge.home}}</span>
            <i class="icon ion-ios-people-outline"></i>患者
        </a>
        <a class="tab-item tab-item-positive has-badge" ui-sref-active="active" ui-sref="tab.consults" nav-direction="none" >
            <span class="badge badge-assertive" ng-if="badge.patients">{{badge.patients}}</span>
            <i class="icon ion-ios-chatboxes-outline" ></i>咨询
        </a>
        <a class="tab-item tab-item-positive" ui-sref-active="active" ui-sref="tab.news" nav-direction="none">
            <i class="icon ion-ios-paper-outline"></i>资讯
        </a>
        <a class="tab-item tab-item-positive" ui-sref-active="active" ui-sref="tab.account" nav-direction="none">
            <i class="icon ion-ios-person-outline" ></i>我的主页
        </a>
    </div>

</ion-view>