<ion-modal-view>
  <ion-header-bar style="height: 48px;">
    <h1 class="title">请选择多久后与问诊人通话</h1>
  </ion-header-bar>
  <ion-content>

    <ion-list>
      <ion-radio ng-model="answerCallTime" value="1">立即</ion-radio>
      <ion-radio ng-model="answerCallTime" value="5">5分钟后</ion-radio>
      <ion-radio ng-model="answerCallTime" value="10">10分钟后</ion-radio>
      <ion-radio ng-model="answerCallTime" value="20">20分钟后</ion-radio>
      <ion-radio ng-model="answerCallTime" value="30">30分钟后</ion-radio>
    </ion-list>

    <a class="item button button-positive button-full" ng-click="setDialTime(answerCallTime)">确定</a>

  </ion-content>
</ion-modal-view>
