<ion-view view-title="患者" hide-back-button="true" ng-init="init()">

  <div
    class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
    <div class="tabs" style="top:0">
      <a class="tab-item active" style="color:#666;font-size:16px"  ui-sref="tab.managePatients">患者会话</a>
      <a class="tab-item" style="color:#666;font-size:16px"  ui-sref="tab.patients">患者管理</a>
    </div>
  </div>

  <ion-content class="has-header padding-top light-bg has-footer" style="bottom:48px">

    <ion-refresher pulling-text="下拉刷新..." on-refresh="init()">
    </ion-refresher>

    <div class="" ng-if="!userMessages[0]">
      <div class="item item-text-wrap gray-9">
        暂无患者沟通。
      </div>
    </div>
    <div class="list">
      <a class="item item-avatar has-badge" ng-repeat="userMessage in userMessages" ui-sref="messages({patientId: userMessage.patId, patient:userMessage})" ng-click="changeBadge($index, userMessage.unreadCount)">
        <img class='round' ng-src="{{userMessage.patFaceUrl}}">
        <span class="badge badge-assertive bold" ng-if="userMessage.unreadCount">{{userMessage.unreadCount}}</span>
        <span class="font-normal">{{userMessage.patName}}</span>
        <span class="pull-right font-small gray-c">{{userMessage.sentTime | date: 'MM-dd HH:mm'}}</span>
        <p class="font-small gray-8 line-normal" style="padding-top: 5px">{{userMessage.msgContent}}</p>
      </a>
    </div>
  </ion-content>

</ion-view>