<ion-view view-title="患者" hide-back-button="true">

  <!--类型切换-->
  <div
    class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
    <div class="tabs" style="top:0">
      <a class="tab-item" style="color:#666;font-size:16px" ui-sref="tab.managePatients">患者会话</a>
      <a class="tab-item active" style="color:#666;font-size:16px" ui-sref="tab.patients">患者管理</a>
    </div>
  </div>

  <!--内容区-->
  <ion-content class="has-header padding-top" style="bottom:48px;background-color:#f4f4f4"">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()">
    </ion-refresher>


      <a class="item item-icon-left" ui-sref="patients_requests">
        <img class="icon padding" src="img/new_patient.png"> &nbsp;&nbsp;新的患者请求
        <span class="badge badge-assertive" ng-if="badge.patients">{{badge.patients}}</span>
      </a>

      <!--没有患者-->
      <div class="" ng-if="!patientsGroup[0]">
        <div class="item item-text-wrap gray-9">
          您还没有患者，请让患者扫您的二维码添加患者。
        </div>
      </div>

      <ion-list class="patients_patient_list">
        <style>
          .patients_patient_list .avatar {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
          }
        </style>
        <ion-item ng-repeat-start="patients in patientsGroup" class="item-divider">
          {{patients[0] === '1' ? "星标患者" : "普通患者"}}
        </ion-item>
        <a ng-repeat-end class="item item-icon-left" ng-repeat="patient in patients[1]" ui-sref="patients_detail({patientId: patient.patId})">
          <img class="icon padding avatar" width="52" height="52" ng-src="{{patient.faceUrl}}">
          <span class="padding-left">{{patient.hzxm}}</span>
          <span class="padding-left grey font-small">{{patient.yhxb}}&nbsp;{{patient.patAge + '岁'}}</span>
        </a>
      </ion-list>


  </ion-content>

</ion-view>