<ion-view view-title="患者请求列表">
  <ion-content>

    <div class="card" ng-if="!patients[0]">
      <div class="item item-text-wrap">
        暂无新患者请求。
      </div>
    </div>

    <ion-list>

      <a class="item item-icon-left item-icon-right" ng-repeat="patient in patients" ui-sref="patients_requests_detail({patientId: patient.patId})">
        <img class="icon padding" ng-src="{{patient.faceUrl}}"> &nbsp;{{patient.hzxm}}&nbsp;{{patient.patAge}}岁
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>

    </ion-list>
      
  </ion-content>
</ion-view>