<ion-view view-title="重置密码">
  <ion-content>

    <form name="form" role="form" novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <span class="input-label">新密码</span>
          <input type="password" name="newpwd" required ng-minlength="4" ng-maxlength="20" ng-model="modData.newpwd">
        </label>
        <label class="item item-input">
          <span class="input-label">重复新密码</span>
          <input type="password" name="againNewpwd" required ng-minlength="4" ng-maxlength="20" ng-model="modData.againNewpwd" repeat-password="newpwd">
        </label>
      </div>

      <div class="padding">
        <button class="button button-block button-balanced" ng-disabled="!form.$valid" ng-click="doResetPasswd()">
          确定
        </button>
      </div>
    </form>

  </ion-content>
</ion-view>