<ion-view view-title="{{toUser.hzxm}}" cache-view="false">
  <style>
  
  .bar-footer {
    overflow: visible !important;
    background-color: #fff;
  }
  
  .bar-footer textarea {
    resize: none;
    height: 25px;
    background-color: #fff;
  }
  
  .footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
    background-color: #fff;
  }
  
  .footer-btn {
    position: absolute !important;
    bottom: 0;
    background-color: #fff;
  }
  
  img.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
  }
  
  img.profile-pic.left {
    left: 10px;
  }
  
  img.profile-pic.right {
    right: 10px;
  }
  
  .message {
    font-size: 14px;
  }
  
  .message-detail {
    white-space: nowrap;
    font-size: 14px;
  }

  
  .message-wrapper {
    position: relative;
  }
  
  .message-wrapper:last-child {
    margin-bottom: 10px;
  }
  
  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 10px;
    max-width: 80%;
  }
  
  .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }
  
  .chat-bubble.left {
    background-color: #e6e5eb;
    float: left;
    margin-left: 55px;
  }
  
  .chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
  }
  
  .chat-bubble.right {
    background-color: #158ffe;
    color: #fff;
    float: right;
    margin-right: 55px;
  }
  
  .chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
  }
  
  .user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
  }
  
  .msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
  }

  .fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
  }
  .recording-mask {
    position:absolute; 
    left:0; 
    right:0; 
    bottom:0; 
    top:0; 
    width:100%; 
    height:100%; 
    background-color:#fff; 
    filter:alpha(Opacity=90);-moz-opacity:0.9;opacity: 0.9;
  }

  
  .recording-panel {
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-100px; 
    margin-top:-100px; 
    color:#fff; 
    text-align:center; 
    vertical-align:center; 
    width:200px;
    height:200px;
    color: #ccc;
    font-size: 24px;
    /*background-color:#eee;*/
  }
  </style>

  <ion-content delegate-handle="main" style="background:#f4f4f4">

     <ion-refresher on-refresh="loadMore()" pulling-text="加载历史"></ion-refresher>

    <!-- 对话区 -->
    <div ng-repeat="message in messages" class="message-wrapper" >
      
      <!-- 如果是患者 -->
      <div ng-if="message.msgSource === 'U'">
        <img ui-sref="patients_detail({patientId:message.patId})" class="profile-pic left" ng-src="{{toUser.faceUrl||'img/default_nomale_head_photo.png'}}" onerror="onProfilePicError(this)" />
        <div class="chat-bubble left ">
          <div class="message " ng-click="message.msgType==='A' && play(message.audioUrl) || message.msgType==='P' && showZoomView(message.imageUrl) " ng-bind-html="message.msgContent ">
          </div>
          <div class="message-detail ">
            <span ng-click="viewProfile(message) " class="bold ">{{toUser.hzxm}}</span>,
            <span>{{message.sentTime|date:"MM-dd hh:mm"}}</span>
          </div>
        </div>
      </div>

      <!-- 如果是医生 -->
      <div ng-if="message.msgSource==='D' ">
        <img ng-click="viewProfile(message) " class="profile-pic right " ng-src="{{user.dFaceUrl|| 'img/default_nomale_head_photo.png'}} " onerror="onProfilePicError(this) " />
        <div class="chat-bubble right ">
          <div class="message " ng-click="message.msgType==='A' && play(message.audioUrl) || message.msgType==='P' && showZoomView(message.imageUrl) " ng-bind-html="message.msgContent ">
          </div>
          <div class="message-detail ">
            <span ng-click="viewProfile(message) " class="bold ">{{user.dName}}</span>,
            <span>{{message.sentTime|date:"MM-dd hh:mm"}}</span>
          </div>
        </div>
      </div>
      
      <div class="cf ">
      </div>

    </div>
  </ion-content>

  <!-- 录音弹层 -->
  <div ng-if="input.isRecording">
    <div class="recording-mask" />
    </div>
    <div class="recording-panel">
      <img class="" src="img/1439633179_media-record.png" />
      <h5 style="color:#999">录音中，持续时间:</h5>
      <h3 style="color:#999">{{input.recordTime}}</h3>
    </div>
  </div>

  <!-- 发区布 -->
  <form name="sendMessageForm " novalidate style="background-color: #fff;">

    <!-- 发文字 -->
    <ion-footer-bar class="bar-stable item-input-inset message-footer " style="background-color:#fff; padding:10px 0" keyboard-attach>

      <div class="footer-btn-wrap">
        <button class="button button-icon ion-volume-high footer-btn" ng-click="toggleInputStatus()" />
      </div>

      <div class="footer-btn-wrap">
        <button class="button button-icon ion-image footer-btn" ng-click="uploadImage()" />
      </div>

      <label class="item-input-wrapper " style="background-color: #fff; ">
        <textarea value="" ng-model="input.message " style="border: solid 1px #ccc; width:100%" placeholder="回复{{toUser.hzxm}}... " required minlength="1 " maxlength="1500"></textarea>
      </label>

      <div class="footer-btn-wrap" >
        <button class="button button-icon icon ion-android-send footer-btn" ng-disabled="!input.message || input.message === ''" ng-click="sendMessage()" />
      </div>
    </ion-footer-bar>

    <!-- 发语音 -->
    <ion-footer-bar ng-if="input.audioPanel" class="bar-stable item-input-inset message-footer " style="background-color:#fff">
      <div class="footer-btn-wrap">
        <button class="button button-icon ion-grid footer-btn" ng-click="toggleInputStatus()" />
      </div>

      <button  style="margin-left:20px" class="button button-block " on-long-press="startRecord()" on-touch-end="uploadAudio()">
        按住说话
      </button> 
    </ion-footer-bar>

  </form>

</ion-view>