<ion-view view-title="咨询" hide-back-button="true" ng-init="setType('DS')">


  <!--咨询类型切换-->
  <div
      class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
    <div class="tabs" style="top:0">
      <a class="tab-item  {{(type == 'DS')?'active':''}}" style="color:#666;font-size:16px" ng-click="setType('DS')">我的</a>
      <a class="tab-item  {{(type == 'DU')?'active':''}}" style="color:#666;font-size:16px" ng-click="setType('DU')">待回复</a>
      <a class="tab-item  {{(type == 'DD')?'active':''}}" style="color:#666;font-size:16px" ng-click="setType('DD')">科室咨询</a>
      <a class="tab-item  {{(type == 'YW')?'active':''}}" style="color:#666;font-size:16px" ng-click="setType('YW')">院外问诊</a>
    </div>
  </div>

  <!--内容区-->
  <ion-content class="has-header light-bg" style="bottom:48px">

    <!--下拉刷新-->
    <ion-refresher pulling-text="下拉刷新..." on-refresh="setType(type)">
    </ion-refresher>

    <!--没有内容-->
    <div class="" ng-if="!consults[0]">
      <div class="item item-text-wrap" ng-bind="{{!consults[0]}} && '该分类下暂无咨询。'">
      </div>
    </div>

    <!--问诊列表-->
    <div class="list">

      <!--问诊项-->
      <ion-item
          ng-repeat="consult in consults"
          class="card item-avatar"
          style="border: none; margin-top:10px;margin-bottom:10px"
          type="item-text-wrap"
          ng-click="showDetail(consult)">

        <!--问诊人头像-->
        <img
            ng-src="{{consult.patFaceUrl||'img/default_nomale_head_photo.png'}}"
            onerror="onProfilePicError(this)"/>

        <!--问诊人&问诊类型-->
        <p class="has-right">
          <span class="h5 bold">{{consult.patName}}</span>

          <span class="small right grey" ng-if="consult.consultType > 20">
            <i class="icon ion-ios-telephone"></i>
            <span class="small">电话问诊</span>
          </span>
          <span class="small right grey" ng-if="consult.consultType == 20">
            <i class="icon ion-ios-paper"></i>
            <span class="small">图文问诊</span>
          </span>
          <span class="small right grey" ng-if="consult.consultType < 20">
            <i class="icon ion-podium"></i>
            <span class="small">科室咨询</span>
          </span>

        </p>

        <!--问诊内容-->
        <p
            class="padding-vertical font-normal"
            style="white-space:normal; font-size:16px; line-height: 1.5; color: #666">
          <i class="icon ion-image" ng-if="consult.consultImg"></i>
          {{consult.consultContent}}
        </p>


        <!--问诊时间&进行状态&回复数-->
        <p class="has-right">
          <span class="small grey padding-right">{{consult.consultTime | date: "MM/dd hh:mm"}}</span>

          <span class="small grey" ng-if="type!='YW' && consult.closeStatus == 0">
            <i class="icon ion-ios-clock energized"></i>
            <span class="small">进行中</span>
          </span>
          <span class="small grey" ng-if="type!='YW' && consult.closeStatus == 1">
            <i class="icon ion-ios-checkmark positive"></i>
            <span class="small">已结束</span>
          </span>
          <span class="small right grey" ng-if="type!='YW'">
            {{consult.replyCount}}
            <i class="icon ion-ios-chatbubble"></i>
          </span>
        </p>

        <!--抢单操作-->
        <div class="padding-top row" ng-if="type=='YW'">
          <button
              class="button button-small button-full"
              ng-class="{'button-balanced': consult.receiveStatus == 0, 'button-grey': consult.receiveStatus == 3}"
              ng-click="snatchConsult(consult)"
          >
            <span ng-bind="consult.receiveStatus == 0 ? '抢单' : '已抢'"></span>
          </button>
        </div>

      </ion-item>

    </div>

  </ion-content>

</ion-view>