<ion-view view-title="咨询" hide-back-button="true">


  <!--咨询类型切换-->
  <div
      class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
    <div class="tabs" style="top:0">
      <a class="tab-item  {{(type == 'DS')?'active':''}}" style="color:#666;font-size:16px" ng-click="setType('DS')">我的</a>
      <a class="tab-item  {{(type == 'DU')?'active':''}}" style="color:#666;font-size:16px" ng-click="setType('DU')">待回复</a>
      <a class="tab-item  {{(type == 'DD')?'active':''}}" style="color:#666;font-size:16px" ng-click="setType('DD')">科室咨询</a>
      <a class="tab-item  {{(type == 'YW')?'active':''}}" style="color:#666;font-size:16px" ng-click="setType('YW')">院外问诊</a>
    </div>
  </div>

  <!--内容区-->
  <ion-content class="has-header light-bg" style="bottom:48px">

    <!--下拉刷新-->
    <ion-refresher pulling-text="下拉刷新..." on-refresh="setType(type)">
    </ion-refresher>

    <!--没有内容-->
    <div class="" ng-if="!consults[0]">
      <div class="item item-text-wrap gray-9" ng-bind="{{!consults[0]}} && '该分类下暂无咨询。'">
      </div>
    </div>

    <!--问诊列表-->
    <div class="list">

      <!--问诊项-->
      <ion-item
          ng-repeat="consult in consults"
          class="card "
          style="border: none; margin-top:10px;margin-bottom:10px"
          type="item-text-wrap"
          ng-click="showDetail(consult)">

        <!--问诊类型-->
        <p class="clearfix font-normal ">

          <span class="pull-left gray-9" ng-if="consult.consultType > 20">
            <i class="icon ion-ios-telephone"></i>
            <span class="">电话问诊</span>
          </span>
          <span class="pull-left gray-9" ng-if="consult.consultType == 20">
            <i class="icon ion-ios-paper"></i>
            <span class="">图文问诊</span>
          </span>
          <span class="pull-left gray-9" ng-if="consult.consultType < 20">
            <i class="icon ion-podium"></i>
            <span class="">科室咨询</span>
          </span>

          <span class="pull-right font-small gray-c" ng-if="type!='YW' && consult.consultType > 19 && consult.closeStatus == 0">
            <i class="icon ion-ios-clock positive"></i>
            <span class="">进行中</span>
          </span>
          <span class="pull-right font-small gray-c" ng-if="type!='YW' && consult.consultType > 19 && consult.closeStatus == 1">
            <i class="icon ion-ios-checkmark energized"></i>
            <span class="">已结束</span>
          </span>

        </p>

        <!--问诊内容-->
        <p
            class="padding-vertical font-normal"
            style="white-space:normal; font-size:16px; line-height: 1.5; color: #444">
          <i class="icon ion-image" ng-if="consult.consultImg"></i>
          {{consult.consultContent}}
        </p>


        <!--问诊人&时间&回复-->
        <p class="clearfix" style="line-height:24px;">
          <img width="24px" height="24px" class="pull-left round"
            ng-src="{{consult.patFaceUrl||'img/default_nomale_head_photo.png'}}"
            onerror="onProfilePicError(this)"/>

          <span class="pull-left padding-left gray-c ">{{consult.patName}}</span>

          <span class="pull-right right gray-c" ng-if="type!='YW'&&consult.replyCount">
            {{consult.replyCount}}
            <i class="icon ion-ios-chatbubble"></i>
          </span>
          <span class="pull-right gray-c padding-right">{{consult.consultTime | date: "MM/dd"}}</span>
        </p>

        <!--抢单操作-->
        <button
          ng-if="type=='YW'"
          class="button button-full"
          ng-class="{'button-balanced': consult.receiveStatus == 0, 'button-stable': consult.receiveStatus == 2}"
          ng-click="snatchConsult(consult)">
          {{consult.receiveStatus == 0 ? '抢单' : '已抢'}}
        </button>

      </ion-item>

    </div>

  </ion-content>

</ion-view>