$positive: #73c167 !default;
.item {
  border-top: 1px solid #eee !important;
  border-bottom: 1px solid #eee !important;
}
.view-container {
  transform:none !important;
}


/* 原子化样式 */

* {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

ion-content{
  overflow-scroll: true;
}

.scroll-content {
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;}

.selectable {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}


.line-small {
  line-height: 1 !important;
}

.line-normal {
  line-height: 1.5 !important;
}

.line-big {
  line-height: 2 !important;
}

.bold {
  font-weight:bold !important;
}

.font-tiny {
  font-size:12px !important;
}

.font-small {
  font-size:14px !important;
}

.font-normal {
  font-size: 16px !important;
}

.font-big {
  font-size: 18px !important;
}

.font-huge {
  font-size: 20px !important;
}

.font-normal {
  font-size: 16px !important;
}

.round {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
}

.tl {
  text-align: left!important;
}

.tr {
  text-align: right!important;
}

.tc {
  text-align: center!important;
}

.vm {
  vertical-align: middle!important;
}

.fl {
  float: left!important;
}

.fr {
  float: right!important;
}

.cf {
  clear: both !important;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.bold {
  font-weight: bold!important;
}

.gray-c {
  color: #cccccc!important;
}

.gray-9 {
  color: #999999!important;
}

.gray-8 {
  color: #888888!important;
}

.gray-7 {
  color: #777777!important;
}

.gray-6 {
  color: #666666!important;
}

.gray-4 {
  color: #444444!important;
}

a.autolinker {
  color: #3b88c3;
  text-decoration: none;
}

.col-40 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 40%;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
}

.col-60 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 60%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 60%;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
  max-width: 60%;
}

.col-45 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 45%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 45%;
  -ms-flex: 0 0 45%;
  flex: 0 0 45%;
  max-width: 45%;
}

.col-55 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 55%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 55%;
  -ms-flex: 0 0 55%;
  flex: 0 0 55%;
  max-width: 55%;
}

.col-30 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 30%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}

/* 一行两列 */
.has-right {
  position: relative;
}

.has-right > .right {
  position: absolute;
  right: 0;
  top: 0;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

/* 底部输入框 */
.bar-footer {
  overflow: visible !important;
  background-color: #fff;
  textarea {
    resize: none;
    height: 25px;
    background-color: #fff;
  }
}

.footer-btn-wrap {
  position: relative;
  height: 100%;
  width: 50px;
  top: 7px;
  background-color: #fff;
}

.footer-btn {
  position: absolute !important;
  bottom: 0;
  background-color: #fff;
}

/* Nprogress */
/* Make clicks pass-through */
/* Make clicks pass-through */
#nprogress {
  //pointer-events: none;
}

#nprogress .bar {
  display: none;
  background: $positive;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
}

/* Fancy blur effect */


/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: $positive;
  border-left-color: $positive;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}



@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
