<ion-view view-title="出诊时间" style="background-color: #eee">
  <style>
    table {
      width: 100%;
      color: #444;
      background-color: #fff;
      border: 1px #ccc solid;
    }

    tr {
      line-height: 32px;
    }

    td {
      text-align: center;
      padding: 5px;
      border: 1px #ccc solid;

    }
  </style>
  <ion-content style="margin:10px">
    <table >
      <tr >
        <td>日期/时段</td>
        <td>上午</td>
        <td>下午</td>
        <td>晚上</td>
      </tr>
      <tr ng-repeat="schedule in schedules">
        <td>{{schedule.day}}</td>
        <td><span ng-if="schedule.am">出诊</span></td>
        <td><span ng-if="schedule.pm">出诊</span></td>
        <td><span ng-if="schedule.eve">出诊</span></td>
      </tr>
      
    </table>
  </ion-content>
</ion-view>