<ion-view view-title="医生认证" ng-Controller="RegisterUploadCtrl"  hide-back-button="true">

  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="submit()">
      提交
    </button>
  </ion-nav-buttons>

  <ion-content>

    <div class="padding">
      <div class="row">
        <div class="col tc">
          <img ng-src="{{user.identityImg}}" width="144" height="144" ng-click="upload()">
        </div>
      </div>
    </div>

    <div class="padding">
      <h4>示例：</h4>
      <div class="row">
        <div class="col tr">
          <img src="img/ID_photo1.png" width="102" height="80">
          <h4 style="color:#999">手持工牌照</h4>
        </div>
        <div class="col col-10 tc">
          <h4 style="color:#999">或</h4>
        </div>
        <div class="col tl">
          <img src="img/ID_photo.png" width="102" height="80">
          <h4 style="color:#999">医师执业证书</h4>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>