<ion-view view-title="验证手机号">
  <ion-content>
    <form name="form" role="form" novalidate>

      <div class="list list-inset">

        <div class="item item-input">
          <span class="input-label">手机号</span>
          <input type="text" name="mobileno" required focus ng-pattern="/^1\d{10}$/" ng-model="user.mobileno">
        </div>

        <div class="item item-input item-button-right">
          <span class="input-label">验证码</span>
          <input type="text" name="captcha" required ng-pattern="/^\d{6}$/" ng-model="user.inputCaptcha">
          <div style="margin-right:100px">
            <button class="button button-small button-balanced" ng-disabled="!form.mobileno.$valid" ng-click="getCaptcha()">
              获取验证码
            </button>
          </div>
        </div>

      </div>

      <div class="item item-text-wrap item-checkbox" style="border-width:0;">
        <label class="checkbox" style="width:50px; display:inline">
          <input type="checkbox" name="agree" ng-model="user.agree" check-required>
        </label>
        同意 <a ui-sref="register_agreement">《点点医生服务协议》</a>
      </div>
      

      <div class="padding">
        <button class="button button-block button-balanced" ng-disabled="!form.$valid" ng-click="goRegister()">
          下一步
        </button>
      </div>

    </form>
  </ion-content>
</ion-view>